<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Juli-MatPro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			.text-warning{
				color: red;
			}
			small{
				font-size: .8rem;
			}
			body {
				font-family: Roboto,serif;
				color: #4d4d4d;
			}
			hr {
				margin-top: 3px;
				margin-bottom: 3px;
			}
			h4 {
				color: #000000;
				font-weight: 700;

			}
			input[type=text] {
				font-weight : 900;
				font-size: 16pt;
			}
			td {
				font-weight: 600;
			}
			th {
				font-weight: 900;
			}
		</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Juli-MatPro</a>
					<nav id="nav">
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Juli-MatPro</h1>
				<p style="font-weight: 700; color: rgb(200,200,200);">Economic and Technical Analyzer for OnShore wells</p>
			</section>

		<!-- One -->
			<section id="root" class="wrapper">
				<div class="inner">
					<h2>Well Analyzer</h2>

					<added-wells-list></added-wells-list>

					<well-form v-if="!formCompletedStatus"></well-form>
					<div style="text-align: end;" v-if="!formCompletedStatus">
						<br>
						<input type="button" value="Analyze Well" v-on:click.prevent="analyzeWells()"/>
					</div>

					<well-results v-if="formCompletedStatus"></well-results>

<!--					<button type="button" v-on:click="updateResult++"></button>-->
<!--					<well-results></well-results>-->

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; All Rights Reserved: <h2><strong>Juli-MatPro</strong></h2>
						</div>
						<ul class="icons">
							<li><a href="#" onclick="return false;" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" onclick="return false;" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" onclick="return false;" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" onclick="return false;" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" onclick="return false;" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
<!--			<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>-->
<!--			<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>-->
<!--			<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.6.0/vuex.min.js"></script>-->

		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
		<script src="assets/js/app.js"></script>
<!--			<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
<!--			<script src="assets/js/juli-matpro-main_2.js"></script>-->

	</body>
</html>